emasa-test-war/src/conf/xml-resources/web-service-references/AvisoWS/wsdl/localhost_8080/Emasa-Soap-war/AvisoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://avisoWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://avisoWS/" name="AvisoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://avisoWS/" schemaLocation="http://localhost:8080/Emasa-Soap-war/AvisoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findAvisoEntre">
<part name="parameters" element="tns:findAvisoEntre"/>
</message>
<message name="findAvisoEntreResponse">
<part name="parameters" element="tns:findAvisoEntreResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findAvisoPorTipo">
<part name="parameters" element="tns:findAvisoPorTipo"/>
</message>
<message name="findAvisoPorTipoResponse">
<part name="parameters" element="tns:findAvisoPorTipoResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findAvisoPorUsuario">
<part name="parameters" element="tns:findAvisoPorUsuario"/>
</message>
<message name="findAvisoPorUsuarioResponse">
<part name="parameters" element="tns:findAvisoPorUsuarioResponse"/>
</message>
<message name="findAvisoPorPrioridad">
<part name="parameters" element="tns:findAvisoPorPrioridad"/>
</message>
<message name="findAvisoPorPrioridadResponse">
<part name="parameters" element="tns:findAvisoPorPrioridadResponse"/>
</message>
<message name="findAvisoPorEstado">
<part name="parameters" element="tns:findAvisoPorEstado"/>
</message>
<message name="findAvisoPorEstadoResponse">
<part name="parameters" element="tns:findAvisoPorEstadoResponse"/>
</message>
<portType name="AvisoWS">
<operation name="remove">
<input wsam:Action="http://avisoWS/AvisoWS/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://avisoWS/AvisoWS/countRequest" message="tns:count"/>
<output wsam:Action="http://avisoWS/AvisoWS/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://avisoWS/AvisoWS/findRequest" message="tns:find"/>
<output wsam:Action="http://avisoWS/AvisoWS/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://avisoWS/AvisoWS/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://avisoWS/AvisoWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://avisoWS/AvisoWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findAvisoEntre">
<input wsam:Action="http://avisoWS/AvisoWS/findAvisoEntreRequest" message="tns:findAvisoEntre"/>
<output wsam:Action="http://avisoWS/AvisoWS/findAvisoEntreResponse" message="tns:findAvisoEntreResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://avisoWS/AvisoWS/edit" message="tns:edit"/>
</operation>
<operation name="findAvisoPorTipo">
<input wsam:Action="http://avisoWS/AvisoWS/findAvisoPorTipoRequest" message="tns:findAvisoPorTipo"/>
<output wsam:Action="http://avisoWS/AvisoWS/findAvisoPorTipoResponse" message="tns:findAvisoPorTipoResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://avisoWS/AvisoWS/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://avisoWS/AvisoWS/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findAvisoPorUsuario">
<input wsam:Action="http://avisoWS/AvisoWS/findAvisoPorUsuarioRequest" message="tns:findAvisoPorUsuario"/>
<output wsam:Action="http://avisoWS/AvisoWS/findAvisoPorUsuarioResponse" message="tns:findAvisoPorUsuarioResponse"/>
</operation>
<operation name="findAvisoPorPrioridad">
<input wsam:Action="http://avisoWS/AvisoWS/findAvisoPorPrioridadRequest" message="tns:findAvisoPorPrioridad"/>
<output wsam:Action="http://avisoWS/AvisoWS/findAvisoPorPrioridadResponse" message="tns:findAvisoPorPrioridadResponse"/>
</operation>
<operation name="findAvisoPorEstado">
<input wsam:Action="http://avisoWS/AvisoWS/findAvisoPorEstadoRequest" message="tns:findAvisoPorEstado"/>
<output wsam:Action="http://avisoWS/AvisoWS/findAvisoPorEstadoResponse" message="tns:findAvisoPorEstadoResponse"/>
</operation>
</portType>
<binding name="AvisoWSPortBinding" type="tns:AvisoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAvisoEntre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAvisoPorTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAvisoPorUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAvisoPorPrioridad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAvisoPorEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AvisoWS">
<port name="AvisoWSPort" binding="tns:AvisoWSPortBinding">
<soap:address location="http://localhost:8080/Emasa-Soap-war/AvisoWS"/>
</port>
</service>
</definitions>