emasa-test-war/src/conf/xml-resources/web-service-references/OperacionWS/wsdl/localhost_8080/Emasa-Soap-war/OperacionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://operacionWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://operacionWS/">

<xs:element name="aviso" type="tns:aviso"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findListaOperaciones" type="tns:findListaOperaciones"/>

<xs:element name="findListaOperacionesResponse" type="tns:findListaOperacionesResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="operacion" type="tns:operacion"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:operacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacion">
<xs:sequence>
<xs:element name="avisoId" type="tns:aviso" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="usuarioemail" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aviso">
<xs:sequence>
<xs:element name="avisoIdDuplicado" type="tns:aviso" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechacreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="finReparacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="inicioReparacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="observaciones" type="xs:string" minOccurs="0"/>
<xs:element name="posGPS" type="xs:string" minOccurs="0"/>
<xs:element name="prioridad" type="xs:int" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacionTecnica" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioemail" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="operador" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findListaOperaciones">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findListaOperacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:operacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:operacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:operacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:operacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:operacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:operacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>